@import './variables.scss';

// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: auto;
}
  
img {
    width: 100%;
}
  
ul {
    list-style-type: none;
}
  
a {
    text-decoration: none;
    color: inherit;
}

.btn-blue-border {
    display: inline-block;
    padding: 10px 14px;
    color: $secondary_color;
    border: 2px solid $primary_color;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 500;

    &:hover {
        background-color: $primary_color;
    }
}